@mixin g-divider($type: light) {
	background-color: $red;
	border-radius: 50%;
	width: 7px;
	height: 7px;
	position: relative;

	&:before,
	&:after {

		content: '';
		height: 1px;
		position: absolute;
		top: 50%;
		transform: translate(0, -50%);
		width: 80px;
	}

	&:before {
		left: 15px;
	}

	&:after {
		right: 15px;
	}

	@if($type == light) {
		&:before,
		&:after {
			background: $light;
		}
	} @else if($type == dark) {
		&:before,
		&:after {
			background: $lightgrey;
		}
	}

}

@mixin g-divider_type2($_: root) {

	@if $_ == root {
		width: 0;
		border-bottom: 4px solid white;
		height: 0;
		margin-bottom: 30px;
		transition: all .5s linear;
	}

	@if $_ == link_hovered {
		width: 45px;
	}
}
