@mixin g-link {
	@include font(main, 14px);

	color: $light;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;
	transition: all 0.5s;

	&:before {
		border-bottom:solid 3px $white;
		bottom: -20px;
		content: " ";
		display: block;
		left: 50%;
		margin: 0 auto;
		position: absolute;
		transition: all 0.5s;
		width: 0%;
		z-index: -1;
	}

	@include on-hover {
		color: $red;

		&:before {
			border-bottom:solid 3px $red;
			width:100%;
			left:0%;
		}
	}
}

@mixin g-link_type2($_: root) {

		@if $_ == root {
			@include font(main_italic, 18, 24px);

			position: relative;
			width: 100px;
			cursor: pointer;

			@include respond-to(phones) {
				margin: 0 auto;
			}
		}

		@if $_ == link {
			color: $white;
			text-transform: uppercase;
			position: relative;
		}

		@if $_ == link_hovered {
			//@include on-hover {
				right: 0;
			//} //FIXME: why not working?
		}

		@if $_ == icon {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			right: 3px;
			color: $white;
			font-size: 10px;
			transition: all .3s linear;

			@include respond-to(phones) {
				right: -3px;
			}
		}
	}

.g-link_regular {
	@include g-link;
}
