// main title mixin for sections (our history, our services)
@mixin g-title(
	$position: left,
	$element: after
) {
	@include font(secondary_bold, 36px);

	color: $lightbrown;
	padding-top: 5px;
	position: relative;
	text-transform: uppercase;

	&::#{$element} {
		#{$position}: 0;
		background: $red;
		content: '';
		height: 100%;
		position: absolute;
		top: 0;
		width: 7px;
	}

	@if $position == "left" {
		padding-left: 20px;
	} @else {
		padding-right: 20px;
	}

	@content;
}

.g-title {
	@include g-title;
}

//simple underlined title (sleek design in "benefits" block)
@mixin g-title_underlined {
	@include font(main_semibold, 18px);

	color: $lightbrown;
	padding-bottom: 20px;
	position: relative;
	text-transform: uppercase;

	&:before {
		background: $brown;
		bottom: 0;
		content: '';
		height: 2px;
		left: 50%;
		position: absolute;
		transform: translate(-50%, 0);
		width: 40px;
		transition: all .5s ease-in-out;
	}
}

.g-title_underlined {
	@include g-title_underlined;
}

//main title block (recent works, case study....)
@mixin g-title_block(
	$_: root,
	$title_color: $lightbrown,
	$subtitle_color: $brown
) {
	@if $_ == root {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	@if $_ == title {
		@include font(secondary_bold, 36px);

		color: $title_color;
		text-transform: uppercase;
	}

	@if $_ == subtitle {
		@include font(secondary, 14px);

		color: $subtitle_color;
		margin: 20px 0;
		text-align: center;
		max-width: 600px;
	}

	@if $_ == divider {
		@include g-divider;
	}
}

.g-heading {
	@include g-title_block;

	&-title {
		@include g-title_block(title);
	}

	&-subtitle {
		@include g-title_block(subtitle);
	}

	&-divider {
		@include g-title_block(divider);
	}
}

//same heading but with text color white;
.g-heading {
	&.m-white &-title,
	&.m-white &-subtitle {
		color: $white;
	}

	&.m-white &-divider:after,
	&.m-white &-divider:before {
		color: $white;
	}
}

// secondary title block (recent works, our blog)
@mixin g-title_block_type2($_: root) {
	@if $_ == root {
		display: flex;
		flex-direction: column;
	}

	@if $_ == divider {
		@include g-divider_type2;
	}

	@if $_ == title {
		@include font(secondary_semibold, 18px);

		color: $white;
		text-transform: uppercase;
		margin-bottom: 15px;

		@include respond-to(desktop) {
			font-size: 24px;
		}
	}

	@if $_ == subtitle {
		@include font(secondary, 14px);

		color: $white;
	}
}
