<header class="header">
	<div class="header-logo">
		<a href="#" class="logo">
			b<span class="logo-text">ino</span>
		</a>
	</div>

	<div class="header-nav">
		<nav class="nav">
			<a href="#" class="nav_link">home</a>
			<a href="#" class="nav_link">portfolio</a>
			<a href="#" class="nav_link">portfolio</a>
			<a href="#" class="nav_link">portfolio</a>
			<a href="#" class="nav_link">portfolio</a>
			<a href="#" class="nav_link">portfolio</a>
			<a href="#" class="nav_link">portfolio</a>
		</nav>
	</div>

</header>