<!-- begin container -->
<div class="container">
	<!-- begin b-benefits -->
	<div class="b-benefits">
		<!-- begin b-benefits-item -->
		<div class="b-benefits-item">
			<div class="b-benefits-icon_wrapper">
				<svg class="b-benefits-icon icon"><use xlink:href="#sleek-design"></use></svg>
			</div>
			<h5 class="b-benefits-title">sleek design</h5>
			<p class="b-benefits-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint commodi in, suscipit ipsum veritatis, fugiat accusamus aspernatur qui aliquam nesciunt cumque excepturi perspiciatis repellat ullam ad vitae illum placeat!
			</p>
		</div>
		<!-- end b-benefits-item -->
		<!-- begin b-benefits-item -->
		<div class="b-benefits-item">
			<div class="b-benefits-icon_wrapper">
					<svg class="b-benefits-icon icon"><use xlink:href="#heart"></use></svg>
			</div>
			<h5 class="b-benefits-title">sleek design</h5>
			<p class="b-benefits-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint commodi in, suscipit ipsum veritatis, fugiat accusamus aspernatur qui aliqum nesciunt cumque excepturi perspiciatis repellat ullam ad vitae illum placeat!
			</p>
		</div>
		<!-- end b-benefits-item -->
		<!-- begin b-benefits-item -->
		<div class="b-benefits-item">
			<div class="b-benefits-icon_wrapper">
					<svg class="b-benefits-icon icon"><use xlink:href="#idea"></use></svg>
			</div>
			<h5 class="b-benefits-title">sleek design</h5>
			<p class="b-benefits-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint commodi in, suscipit ipsum veritatis, fugiat accusamus aspernatur qui aliquam nesciunt cumque excepturi perspiciatis repellat ullam ad vitae illum placeat!
			</p>
		</div>
		<!-- end b-benefits-item -->
		<!-- begin b-benefits-item -->
		<div class="b-benefits-item">
			<div class="b-benefits-icon_wrapper">
					<svg class="b-benefits-icon icon"><use xlink:href="#support"></use></svg>
			</div>
			<h5 class="b-benefits-title">sleek design</h5>
			<p class="b-benefits-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis sint commodi in, suscipit ipsum veritatis, fugiat accusamus aspernatur qui aliquam nesciunt cumque excepturi perspiciatis repellat ullam ad vitae illum placeat!
			</p>
		</div>
		<!-- end b-benefits-item -->
	</div>
	<!-- end b-benefits -->
</div>
<!-- end container -->
