<!-- begin b-blog -->
<div class="b-blog">
	<!--start heading -->
	<div class="container">
		<!-- begin g-heading -->
		<div class="g-heading">
			<h3 class="g-heading-title">our blog</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-heading -->
	</div>
	<!--end heading -->

	<!-- begin b-blog-wrapper -->
	<div class="b-blog-wrapper">

		<!-- begin b-blog-item -->
		<div class="b-blog-item">

			<!-- begin b-blog-image-wrappe -->
			<div class="b-blog-image_wrapper">
				<img src="images/blog-1.png" alt="blog" class="b-blog-image">
			</div>
			<!-- end b-blog-image-wrappe -->

			<!-- begin b-blog-info -->
			<div class="b-blog-info">
				<div class="b-blog-info_heading">
					<div class="b-blog-subtitle">art / t-shirt</div>
					<div class="b-blog-title">t-shirt design</div>
					<div class="b-blog-divider"></div>
				</div>
				<p class="b-blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ratione laboriosam assumenda sapiente iure omnis similique ab nihil. Ullam itaque iusto amet maxime molestias laborum assumenda sit hic nesciunt necessitatibus.
				</p>
				<div class="b-blog-cta">
					<a href="#" class="b-blog-cta_link">read more</a>
					<svg class="b-blog-cta_icon icon"><use xlink:href="#double_arrows"></use></svg>
				</div>
			</div>
			<!-- end b-blog-info -->

		</div>
		<!-- end b-blog-item -->

		<!-- begin b-blog-item -->
		<div class="b-blog-item">
			<!-- begin b-blog-image-wrappe -->
			<div class="b-blog-image_wrapper">
				<img src="images/blog-2.png" alt="blog" class="b-blog-image">
			</div>
			<!-- end b-blog-image-wrappe -->

			<!-- begin b-blog-info -->
			<div class="b-blog-info">
				<div class="b-blog-info_heading">
					<div class="b-blog-subtitle">art / t-shirt</div>
					<div class="b-blog-title">t-shirt design</div>
					<div class="b-blog-divider"></div>
				</div>
				<p class="b-blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ratione laboriosam assumenda sapiente iure omnis similique ab nihil. Ullam itaque iusto amet maxime molestias laborum assumenda sit hic nesciunt necessitatibus.
				</p>
				<div class="b-blog-cta">
					<a href="#" class="b-blog-cta_link">read more</a>
					<svg class="b-blog-cta_icon icon"><use xlink:href="#double_arrows"></use></svg>
				</div>
			</div>
			<!-- end b-blog-info -->
		</div>
		<!-- end b-blog-item -->

		<!-- begin b-blog-item -->
		<div class="b-blog-item m-reverse">
			<!-- begin b-blog-image-wrappe -->
			<div class="b-blog-image_wrapper">
				<img src="images/blog-3.png" alt="blog" class="b-blog-image">
			</div>
			<!-- end b-blog-image-wrappe -->

			<!-- begin b-blog-info -->
			<div class="b-blog-info">
				<div class="b-blog-info_heading">
					<div class="b-blog-subtitle">art / t-shirt</div>
					<div class="b-blog-title">t-shirt design</div>
					<div class="b-blog-divider"></div>
				</div>
				<p class="b-blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ratione laboriosam assumenda sapiente iure omnis similique ab nihil. Ullam itaque iusto amet maxime molestias laborum assumenda sit hic nesciunt necessitatibus.
				</p>
				<div class="b-blog-cta">
					<a href="#" class="b-blog-cta_link">read more</a>
					<svg class="b-blog-cta_icon icon"><use xlink:href="#double_arrows"></use></svg>
				</div>
			</div>
			<!-- end b-blog-info -->
		</div>
		<!-- end b-blog-item -->

		<!-- begin b-blog-item -->
		<div class="b-blog-item m-reverse">
			<!-- begin b-blog-image-wrappe -->
			<div class="b-blog-image_wrapper">
				<img src="images/blog-4.png" alt="blog" class="b-blog-image">
			</div>
			<!-- end b-blog-image-wrappe -->

			<!-- begin b-blog-info -->
			<div class="b-blog-info">
				<div class="b-blog-info_heading">
					<div class="b-blog-subtitle">art / t-shirt</div>
					<div class="b-blog-title">t-shirt design</div>
					<div class="b-blog-divider"></div>
				</div>
				<p class="b-blog-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ratione laboriosam assumenda sapiente iure omnis similique ab nihil. Ullam itaque iusto amet maxime molestias laborum assumenda sit hic nesciunt necessitatibus.
				</p>
				<div class="b-blog-cta">
					<a href="#" class="b-blog-cta_link">read more</a>
					<svg class="b-blog-cta_icon icon"><use xlink:href="#double_arrows"></use></svg>
				</div>
			</div>
			<!-- end b-blog-info -->
		</div>
		<!-- end b-blog-item -->

	</div>
	<!-- end b-blog-wrapper -->

</div>
<!-- end b-blog -->
