<div class="container">
	<!-- begin g-heading -->
	<div class="g-heading">
		<h3 class="g-heading-title">keep in touch</h3>
		<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
		<div class="g-heading-divider"></div>
	</div>
	<!-- end g-heading -->

	<!-- begin b-contact -->
	<div class="b-contact">

		<!-- begin b-contact-info -->
		<div class="b-contact-info">
			<div class="b-contact-info_item">
				<div class="b-contact-info_title">our adress</div>
				<div class="b-contact-info_text">House #13, Streat road, Sydney 2310 Australia</div>
			</div>
			<div class="b-contact-info_item">
				<div class="b-contact-info_title">call us</div>
				<div class="b-contact-info_text">+ 880 168 109 1425 + 0216809142</div>
			</div>
			<div class="b-contact-info_item">
				<div class="b-contact-info_title">email us</div>
				<div class="b-contact-info_text">contactus@email.com</div>
			</div>
		</div>
		<!-- end b-contact-info -->

		<!-- begin b-contact-form_wrapper -->
		<div class="b-contact-form_wrapper">
			<form class="b-contact-form">
				<fieldset>
					<div class="f-input">
						<label for="input" class="f-input-wrapper">
							<input name="input" type="text" class="f-input-text" required="required">
							<span class="f-input-text_label">Name</span>
							<span class="f-input-text_border"></span>
						</label>
					</div>
					<div class="f-input">
						<label for="input" class="f-input-wrapper">
							<input name="input" type="text" class="f-input-text" required="required">
							<span class="f-input-text_label">Email</span>
							<span class="f-input-text_border"></span>
						</label>
					</div>
					<div class="f-input">
						<label for="input" class="f-input-wrapper">
							<input name="input" type="text" class="f-input-text" required="required">
							<span class="f-input-text_label">Subject</span>
							<span class="f-input-text_border"></span>
						</label>
					</div>
					<div class="f-textarea">
						<textarea name="textarea" class="f-textarea-text" required=""></textarea>
						<label class="f-textarea-text_label" for="textarea">Message</label>
						<span class="f-textarea-text_border"></span>
					</div>
					<div class="b-contact-form_button">
						<button class="f-button" type="submit" value="Send Message">send message</button>
					</div>
				</fieldset>
			</form>
		</div>
		<!-- end b-contact-form_wrapper -->

	</div>
	<!-- end b-contact -->

</div>
