<div class="container">

	<!-- begin b-contact -->
	<div class="b-contact">

		<!-- begin g-heading -->
		<div class="g-heading">
			<h3 class="g-heading-title">keep in touch</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-heading -->

		<!-- begin b-contacts-wrapper -->
		<div class="b-contact-wrapper">

			<!-- begin b-contact-info -->
			<div class="b-contact-info">
				<div class="b-contacts-info_item">
					<div class="b-contacts-info_title">our adress</div>
					<div class="b-contacts-info_text">House #13, Streat road, Sydney 2310 Australia</div>
				</div>
				<div class="b-contacts-info_item">
					<div class="b-contacts-info_title">call us</div>
					<div class="b-contacts-info_text">+ 880 168 109 1425 + 0216809142</div>
				</div>
				<div class="b-contacts-info_item">
					<div class="b-contacts-info_title">email us</div>
					<div class="b-contacts-info_text">contactus@email.com</div>
				</div>
			</div>
			<!-- end b-contact-info -->

			<!-- begin b-contact-form_wrapper -->
			<div class="b-contact-form_wrapper">
				<form class="b-contact-form">
					<fieldset>
						<div class="f-input">
							<label for="" class="f-input_wrapper">
								<input type="text" class="f-input_text">
								<span class="f-input_text-label">Name</span>
							</label>
						</div>
						<div class="f-input">
							<label for="" class="f-input_wrapper">
								<input type="text" class="f-input_text">
								<span class="f-input_text-label">Email</span>
							</label>
						</div>
						<div class="f-input">
							<label for="" class="f-input_wrapper">
								<input type="text" class="f-input_text">
								<span class="f-input_text-label">Subject</span>
							</label>
						</div>
						<div class="f-textarea">
							<textarea class="f-textarea_text" name="message" placeholder="Message" required=""></textarea>
						</div>
						<div class="f-button">
							<button class="b-contact-form_button" type="submit" value="Send Message">send message</button>
						</div>
					</fieldset>
				</form>
			</div>
			<!-- end b-contact-form_wrapper -->

		</div>
		<!-- end b-contacts-wrapper -->
	</div>
	<!-- end b-contact -->

</div>