<!-- begin footer -->
<footer class="b-footer">
	<div class="container">
		<div class="b-footer-wrapper">

			<!-- begin footer-social -->
			<div class="b-footer-social">
				<a href="#" class="b-footer-social_link m-fb">
					<svg class="b-footer-social_icon icon"><use xlink:href="#fb"></use></svg>
				</a>
				<a href="#" class="b-footer-social_link m-instagram">
					<svg class="b-footer-social_icon icon"><use xlink:href="#instagram"></use></svg>
				</a>
				<a href="#" class="b-footer-social_link m-twitter">
					<svg class="b-footer-social_icon icon"><use xlink:href="#twitter"></use></svg>
				</a>
				<a href="#" class="b-footer-social_link m-skype">
					<svg class="b-footer-social_icon icon"><use xlink:href="#skype"></use></svg>
				</a>
			</div>
			<!-- end footer-social -->

			<!-- begin b-footer-copy -->
			<div class="b-footer-copy">
				<div class="b-footer-copy_text">m.lebediev @All rights reserved</div>
			</div>
			<!-- end b-footer-copy -->

		</div>
	</div>
</footer>
<!-- end footer -->
