<div class="b-header">
	<div class="container">
		<div class="b-header-content">
			<!-- begin b-header-logo -->
			<div class="b-header-logo">
				<a href="#" class="b-logo">
					<span class="b-logo_part1">b</span>
					<span class="b-logo_part2">ino</span>
				</a>
			</div>
			<!-- end b-header-logo -->

			<!-- begin b-header-nav -->
			<div class="b-header-nav">
				<div class="b-nav">
					<a href="#" class="b-nav_link">home</a>
					<a href="#" class="b-nav_link">about us</a>
					<a href="#" class="b-nav_link">protfolio</a>
					<a href="#" class="b-nav_link">pricing</a>
					<a href="#" class="b-nav_link">team</a>
					<a href="#" class="b-nav_link">blog</a>
					<a href="#" class="b-nav_link">contact</a>
				</div>
			</div>
			<!-- end b-header-nav -->
		</div>
	</div>
</div>