<!-- begin hero -->
<div class="hero">
<!-- begin slider -->
	<div class="slider">
		<div class="slider-next"></div>
		<div class="slider-prev"></div>
		<!-- begin slider-slides -->
		<div class="slider-slides js-hero">
			<figure class="slider-slide">
				<img src="images/hero-slide1.png" alt="hero slide 1" class="slider-image">
				<figcaption class="slider-info">
					<div class="slider-info_subtitle">our client are our first priority</div>
					<div class="slider-info_title">welcome to bino</div>
					<div class="slider-info_divider"></div>
					<div class="slider-info_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="slider-info_buttons">
						<a href="#" class="slider-info_button">get started now </a>
						<a href="#" class="slider-info_button">learn more</a>
					</div>
				</figcaption>
			</figure>
		
			<figure class="slider-slide">
				<img src="images/hero-slide2.jpg" alt="hero slide 1" class="slider-image">
				<figcaption class="slider-info">
					<div class="slider-info_subtitle">our client are our first priority</div>
					<div class="slider-info_title">welcome to bino</div>
					<div class="slider-info_divider"></div>
					<div class="slider-info_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="slider-info_buttons">
						<a href="#" class="slider-info_buttons-get_start">get started now </a>
						<a href="#" class="slider-info_buttons-learn_how">learn more</a>
					</div>
				</figcaption>
			</figure>

			<figure class="slider-slide">
				<img src="images/hero-slide3.jpg" alt="hero slide 1" class="slider-image">
				<figcaption class="slider-info">
					<div class="slider-info_subtitle">our client are our first priority</div>
					<div class="slider-info_title">welcome to bino</div>
					<div class="slider-info_divider"></div>
					<div class="slider-info_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="slider-info_buttons">
						<a href="#" class="slider-info_buttons-get_start">get started now </a>
						<a href="#" class="slider-info_buttons-learn_how">learn more</a>
					</div>
				</figcaption>
			</figure>
		</div>
		<!-- end slider-slides -->
	</div>
	<!-- end slider -->
</div>
<!-- end hero -->

<svg 
xmlns="http://www.w3.org/2000/svg"
xmlns:xlink="http://www.w3.org/1999/xlink"
width="12px" height="21px" viewBox="0 0 12 21">
<path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
d="M0.168,19.259 C0.168,19.440 0.249,19.601 0.369,19.721 L1.371,20.723 C1.491,20.843 1.672,20.923 1.832,20.923 C1.993,20.923 2.173,20.843 2.293,20.723 L11.634,11.382 C11.754,11.262 11.834,11.082 11.834,10.920 C11.834,10.761 11.754,10.580 11.634,10.460 L2.293,1.120 C2.173,0.999 1.993,0.919 1.832,0.919 C1.672,0.919 1.491,0.999 1.371,1.120 L0.369,2.122 C0.249,2.242 0.168,2.423 0.168,2.583 C0.168,2.742 0.249,2.924 0.369,3.044 L8.246,10.920 L0.369,18.798 C0.249,18.919 0.168,19.099 0.168,19.259 Z"/>
</svg>