<div class="b-hero">
	<div class="b-hero-slider_next">
		<svg class="icon"><use xlink:href="#arrow-right"></use></svg>
	</div>
	<div class="b-hero-slider_prev">
		<svg class="icon"><use xlink:href="#arrow-left"></use></svg>
	</div>
	<div class="b-hero-slider js-hero_slider">
		<div class="b-hero-slide">
			<figure class="b-hero-slide_item">
				<img src="images/hero-slide1.png" alt="hero slide 1" class="b-hero-slide_image">
				<figcaption class="b-hero-slide_info">
					<div class="b-hero-slide_subtitle">our clients are our first priority</div>
					<div class="b-hero-slide_title">welcome to bino</div>
					<div class="b-hero-slide_divider"></div>
					<div class="b-hero-slide_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="b-hero-slide_buttons">
						<a href="#" class="b-hero-slide_button">get started now </a>
						<a href="#" class="b-hero-slide_button">learn more</a>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="b-hero-slide">
			<figure class="b-hero-slide_item">
				<img src="images/hero-slide1.png" alt="hero slide 1" class="b-hero-slide_image">
				<figcaption class="b-hero-slide_info">
					<div class="b-hero-slide_subtitle">our client are our first priority</div>
					<div class="b-hero-slide_title">welcome to bino</div>
					<div class="b-hero-slide_divider"></div>
					<div class="b-hero-slide_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="b-hero-slide_buttons">
						<a href="#" class="b-hero-slide_button">get started now </a>
						<a href="#" class="b-hero-slide_button">learn more</a>
					</div>
				</figcaption>
			</figure>
		</div>
		<div class="b-hero-slide">
			<figure class="b-hero-slide_item">
				<img src="images/hero-slide1.png" alt="hero slide 1" class="b-hero-slide_image">
				<figcaption class="b-hero-slide_info">
					<div class="b-hero-slide_subtitle">our client are our first priority</div>
					<div class="b-hero-slide_title">welcome to bino</div>
					<div class="b-hero-slide_divider"></div>
					<div class="b-hero-slide_text">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
					</div>
					<div class="b-hero-slide_buttons">
						<a href="#" class="b-hero-slide_button">get started now </a>
						<a href="#" class="b-hero-slide_button">learn more</a>
					</div>
				</figcaption>
			</figure>
		</div>
	</div>
</div>