<div class="b-hero">
	<div class="b-hero-info">
		<div class="b-hero-info_subtitle">our clients are our first priority</div>
		<div class="b-hero-info_title">welcome to bino</div>
		<div class="b-hero-info_divider"></div>
		<div class="b-hero-info_text">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad voluptatum distinctio necessitatibus animi? Minima unde voluptate odio odit enim nam quisquam reprehenderit necessitatibus, iusto qui quas veniam ipsam voluptatibus ipsum?
		</div>
		<div class="b-hero-info_buttons">
			<a href="#" class="b-hero-info_button">get started now </a>
			<a href="#" class="b-hero-info_button">learn more</a>
		</div>
	</div>

	<a href="#l-benefits" class="b-hero-scroll">
		<svg class="b-hero-scroll_icon icon"><use xlink:href="#anchor"></use></svg>
	</a>
</div>

