<div class="b-history">
	<div class="container">
		<!-- begin b-history-wrapper -->
		<div class="b-history-wrapper">
			<!-- begin b-history-image_wrapper -->
			<div class="b-history-image_wrapper">
				<img src="images/monitor.png" alt="MAC" class="b-history-image">
			</div>
			<!-- end b-history-image_wrapper -->
			<!-- begin b-history-info -->
			<div class="b-history-info">
				<div class="b-history-heading">
					<h3 class="b-history-heading_title">our history</h3>
				</div>
				<p class="b-history-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum voluptatibus incidunt enim, laborum illum, omnis nemo cupiditate expedita laboriosam quod ipsam itaque accusantium explicabo qui. Harum cum aut sequi!
				</p>
				<p class="b-history-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Non cum voluptatibus incidunt enim, laborum illum, omnis nemo cupiditate expedita laboriosam quod ipsam itaque accusantium explicabo qui. Harum cum aut sequi!
				</p>
				<a href="#" class="b-history-cta">browse our work</a>
			</div>
			<!-- end b-history-info -->
		</div>
		<!-- end b-history-wrapper -->
	</div>
</div>
