<div class="container">
	<!-- begin b-partners -->
	<div class="b-partners">

		<!-- begin g-heading -->
		<div class="g-heading">
			<h3 class="g-heading-title">recent works</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-heading -->

		<!-- begin b-partners-wrapper -->
		<div class="b-partners-wrapper">

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

			<!-- begin b-partners-item -->
			<div class="b-partners-item">
				<img src="#" alt="partners" class="b-partners-image">
			</div>
			<!-- end b-partners-item -->

		</div>
		<!-- end b-partners-wrapper -->
	</div>
	<!-- end b-partners -->
</div>