<!-- begin b-pricing -->
<div class="b-pricing">
	<div class="container">
		<!-- begin g-title -->
		<div class="g-heading">
			<h3 class="g-heading-title">our pricing</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-title -->

		<!-- begin b-pricing-wrapper -->
		<div class="b-pricing-wrapper">

			<!-- begin b-pricing-item -->
			<div class="b-pricing-item">
				<!-- begin b-pricing-item_top -->
				<div class="b-pricing-item_top">
					<div class="b-pricing-title">starter</div>
					<div class="b-pricing-price_wrapper">
						<div class="b-pricing-price">$20</div>
						<div class="b-pricing-price_subtitle">per month</div>
					</div>
				</div>
				<!-- end b-pricing-item_top -->

				<!-- begin b-pricing-item_bottom -->
				<div class="b-pricing-item_bottom">
					<ul class="b-pricing-info_list">
						<li class="b-pricing-info_item">Competition Analyses Methods</li>
						<li class="b-pricing-info_item">All ranked URLs</li>
						<li class="b-pricing-info_item">International support system</li>
						<li class="b-pricing-info_item">Socail media tracking</li>
					</ul>

					<a href="#" class="b-pricing-cta">choose plan</a>
				</div>
				<!-- end b-pricing-item_bottom -->

			</div>
			<!-- end b-pricing-item -->

			<!-- begin b-pricing-item -->
			<div class="b-pricing-item m-premium">

				<!-- begin b-pricing-item_top -->
				<div class="b-pricing-item_top m-premium">
					<div class="b-pricing-title">premium</div>
					<div class="b-pricing-price_wrapper">
						<div class="b-pricing-price">$20</div>
						<div class="b-pricing-price_subtitle">per month</div>
					</div>
				</div>
				<!-- end b-pricing-item_top -->

				<!-- begin b-pricing-item_bottom -->
				<div class="b-pricing-item_bottom">
					<ul class="b-pricing-info_list">
						<li class="b-pricing-info_item">Competition Analyses Methods</li>
						<li class="b-pricing-info_item">All ranked URLs</li>
						<li class="b-pricing-info_item">International support system</li>
						<li class="b-pricing-info_item">Socail media tracking</li>
					</ul>

					<a href="#" class="b-pricing-cta">choose plan</a>
				</div>
				<!-- end b-pricing-item_bottom -->

			</div>
			<!-- end b-pricing-item -->

			<!-- begin b-pricing-item -->
			<div class="b-pricing-item">

				<!-- begin b-pricing-item_top -->
				<div class="b-pricing-item_top">
					<div class="b-pricing-title">starter</div>
					<div class="b-pricing-price_wrapper">
						<div class="b-pricing-price">$20</div>
						<div class="b-pricing-price_subtitle">per month</div>
					</div>
				</div>
				<!-- end b-pricing-item_top -->

				<!-- begin b-pricing-item_bottom -->
				<div class="b-pricing-item_bottom">
					<ul class="b-pricing-info_list">
						<li class="b-pricing-info_item">Competition Analyses Methods</li>
						<li class="b-pricing-info_item">All ranked URLs</li>
						<li class="b-pricing-info_item">International support system</li>
						<li class="b-pricing-info_item">Socail media tracking</li>
					</ul>
					<a href="#" class="b-pricing-cta">choose plan</a>
				</div>
				<!-- end b-pricing-item_bottom -->

			</div>
			<!-- end b-pricing-item -->

		</div>
		<!-- end b-pricing-wrapper -->
	</div>
</div>
<!-- end b-pricing -->
