<!-- begin b-ratings -->
<div class="b-ratings">
	<div class="container">
		<div class="b-ratings-wrapper">

			<!-- begin b-ratings-item -->
			<div class="b-ratings-item">
				<div class="b-ratings-image_wrapper">
					<img src="#" alt="user favourites" class="b-ratings-image">
				</div>
				<div class="b-ratings-info">
					<div class="b-ratings-count">3891</div>
					<div class="b-ratings-text">user favourites</div>
				</div>
			</div>
			<!-- end b-ratings-item -->

			<!-- begin b-ratings-item -->
			<div class="b-ratings-item">
				<div class="b-ratings-image_wrapper">
					<img src="#" alt="user favourites" class="b-ratings-image">
				</div>
				<div class="b-ratings-info">
					<div class="b-ratings-count">3891</div>
					<div class="b-ratings-text">user favourites</div>
				</div>
			</div>
			<!-- end b-ratings-item -->

			<!-- begin b-ratings-item -->
			<div class="b-ratings-item">
				<div class="b-ratings-image_wrapper">
					<img src="#" alt="user favourites" class="b-ratings-image">
				</div>
				<div class="b-ratings-info">
					<div class="b-ratings-count">3891</div>
					<div class="b-ratings-text">user favourites</div>
				</div>
			</div>
			<!-- end b-ratings-item -->

			<!-- begin b-ratings-item -->
			<div class="b-ratings-item">
				<div class="b-ratings-image_wrapper">
					<img src="#" alt="user favourites" class="b-ratings-image">
				</div>
				<div class="b-ratings-info">
					<div class="b-ratings-count">3891</div>
					<div class="b-ratings-text">user favourites</div>
				</div>
			</div>
			<!-- end b-ratings-item -->
		</div>
	</div>
</div>
<!-- end b-ratings -->