<!-- begin b-ratings -->
<div class="b-ratings">
	<div class="b-ratings-inner">
		<div class="container">
			<div class="b-ratings-wrapper">

				<!-- begin b-ratings-item -->
				<div class="b-ratings-item">
					<div class="b-ratings-icon_wrapper">
						<svg class="b-ratings-icon icon"><use xlink:href="#heart"></use></svg>
					</div>
					<div class="b-ratings-info">
						<div class="b-ratings-count">3891</div>
						<div class="b-ratings-text">user favourites</div>
					</div>
				</div>
				<!-- end b-ratings-item -->

				<!-- begin b-ratings-item -->
				<div class="b-ratings-item">
					<div class="b-ratings-icon_wrapper">
						<svg class="b-ratings-icon icon"><use xlink:href="#tag"></use></svg>
					</div>
					<div class="b-ratings-info">
						<div class="b-ratings-count">3891</div>
						<div class="b-ratings-text">user favourites</div>
					</div>
				</div>
				<!-- end b-ratings-item -->

				<!-- begin b-ratings-item -->
				<div class="b-ratings-item">
					<div class="b-ratings-icon_wrapper">
						<svg class="b-ratings-icon icon"><use xlink:href="#like"></use></svg>
					</div>
					<div class="b-ratings-info">
						<div class="b-ratings-count">3891</div>
						<div class="b-ratings-text">user favourites</div>
					</div>
				</div>
				<!-- end b-ratings-item -->

				<!-- begin b-ratings-item -->
				<div class="b-ratings-item">
					<div class="b-ratings-icon_wrapper">
						<svg class="b-ratings-icon icon"><use xlink:href="#star"></use></svg>
					</div>
					<div class="b-ratings-info">
						<div class="b-ratings-count">3891</div>
						<div class="b-ratings-text">user favourites</div>
					</div>
				</div>
				<!-- end b-ratings-item -->

				<!-- begin b-ratings-item -->
				<div class="b-ratings-item">
					<div class="b-ratings-icon_wrapper">
						<svg class="b-ratings-icon icon"><use xlink:href="#bookmark"></use></svg>
					</div>
					<div class="b-ratings-info">
						<div class="b-ratings-count">3891</div>
						<div class="b-ratings-text">user favourites</div>
					</div>
				</div>
				<!-- end b-ratings-item -->
			</div>
		</div>
	</div>

</div>
<!-- end b-ratings -->
