<!-- begin b-services -->
<div class="b-services">
	<div class="container">
		<div class="b-services-wrapper">
			<!-- begin b-services-heading -->
			<div class="b-services-heading">
				<h3 class="b-services-heading_title">our services</h3>
			</div>
			<!-- end b-services-heading -->

			<!-- begin b-services-wrapper -->
			<div class="b-services-slider js-services_slider">

				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
						<svg class="b-services-icon icon"><use xlink:href="#monitor"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->

				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
						<svg class="b-services-icon icon"><use xlink:href="#print-design"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->

				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
							<svg class="b-services-icon icon"><use xlink:href="#photo"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->

				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
						<svg class="b-services-icon icon"><use xlink:href="#monitor"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->
	
				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
						<svg class="b-services-icon icon"><use xlink:href="#print-design"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->

				<!-- begin b-services-item -->
				<div class="b-services-slide">
					<div class="b-services-info">
						<h6 class="b-services-title">web design</h6>
						<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
						</p>
					</div>	
					<div class="b-services-image_wrapper">
							<svg class="b-services-icon icon"><use xlink:href="#photo"></use></svg>
					</div>
				</div>
				<!-- end b-services-item -->
			</div>
			<!-- end b-services-wrapper -->
		</div>
	</div>
</div>
<!-- end b-services -->