<!-- begin b-services -->
<div class="b-services">
	<!-- begin b-services-heading -->
	<div class="b-servies-heading">
		<h3 class="b-services-heading_title">our services</h3>
	</div>
	<!-- end b-services-heading -->

	<!-- begin b-services-wrapper -->
	<div class="b-services-wrapper">

		<!-- begin b-services-item -->
		<div class="b-services-item">
			<div class="b-services-info">
				<h6 class="b-services-title">web design</h6>
				<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
				</p>
			</div>	
			<div class="b-services-image_wrapper">
				<img src="#" alt="web services" class="b-services-image">
			</div>
		</div>
		<!-- end b-services-item -->

		<!-- begin b-services-item -->
		<div class="b-services-item">
			<div class="b-services-info">
				<h6 class="b-services-title">web design</h6>
				<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
				</p>
			</div>	
			<div class="b-services-image_wrapper">
				<img src="#" alt="web services" class="b-services-image">
			</div>
		</div>
		<!-- end b-services-item -->

			<!-- begin b-services-item -->
		<div class="b-services-item">
			<div class="b-services-info">
				<h6 class="b-services-title">web design</h6>
				<p class="b-services-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, vel exercitationem! Quidem repellendus fugit eius cum optio necessitatibus vitae ipsum harum doloremque magnam fuga, rerum eos praesentium corrupti commodi pariatur!
				</p>
			</div>	
			<div class="b-services-image_wrapper">
				<img src="#" alt="web services" class="b-services-image">
			</div>
		</div>
		<!-- end b-services-item -->

	</div>
	<!-- end b-services-wrapper -->
	
</div>
<!-- end b-services -->