<!-- begin b-study -->
<div class="b-study">
	<div class="container">
		<!-- begin g-title -->
		<div class="g-heading">
			<h3 class="g-heading-title">recent works</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-title -->

		<!-- begin b-study-wrapper -->
		<div class="b-study-wrapper">

			<!-- begin b-study-slider -->
			<div class="b-study-slider_wrapper">
				<div class="b-study-slider">

					<!-- begin b-study-slider_item -->
					<div class="b-study-slider_item">
						<img src="#" alt="creative ideas" class="b-study-slider_img">
						<h6 class="b-study-slider_title">accumulate creative ideas</h6>
						<div class="b-study-slider_divider"></div>
						<p class="b-study-slider_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim veritatis, quas at possimus repellat quam deserunt neque adipisci incidunt accusantium odio facilis laboriosam error ad laudantium. Illum, magni nihil.
						</p>
						<a href="#" class="b-study-slider_cta">read more</a>
					</div>
					<!-- end b-study-slider_item -->

					<!-- begin b-study-slider_item -->
					<div class="b-study-slider_item">
						<img src="#" alt="creative ideas" class="b-study-slider_img">
						<h6 class="b-study-slider_title">accumulate creative ideas</h6>
						<div class="b-study-slider_divider"></div>
						<p class="b-study-slider_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim veritatis, quas at possimus repellat quam deserunt neque adipisci incidunt accusantium odio facilis laboriosam error ad laudantium. Illum, magni nihil.
						</p>
						<a href="#" class="b-study-slider_cta">read more</a>
					</div>
					<!-- end b-study-slider_item -->

					<!-- begin b-study-slider_item -->
					<div class="b-study-slider_item">
						<img src="#" alt="creative ideas" class="b-study-slider_img">
						<h6 class="b-study-slider_title">accumulate creative ideas</h6>
						<div class="b-study-slider_divider"></div>
						<p class="b-study-slider_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum enim veritatis, quas at possimus repellat quam deserunt neque adipisci incidunt accusantium odio facilis laboriosam error ad laudantium. Illum, magni nihil.
						</p>
						<a href="#" class="b-study-slider_cta">read more</a>
					</div>
					<!-- end b-study-slider_item -->
				</div>
			</div>
			<!-- end b-study-slider -->

			<!-- begin b-study-image-wrapper -->
			<div class="b-study-image-wrapper">
				<img src="#" alt="study" class="b-study-image">
			</div>
			<!-- end b-study-image-wrapper -->
		</div>
		<!-- end b-study-wrapper -->
	</div>
</div>
<!-- end b-study -->