<div class="b-team">
	<div class="container">
		<!-- begin b-team-heading -->
		<div class="b-team-heading">
			<!-- begin g-title -->
			<div class="g-heading">
				<h3 class="g-heading-title">our team</h3>
				<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
				<div class="g-heading-divider"></div>
			</div>
			<!-- end g-title -->
		</div>
		<!-- end b-team-heading -->

		<!-- begin b-team_wrapper -->
		<div class="b-team-wrapper">
			<ul class="b-team-content">
				<li class="b-team-item">
					<a href="#" class="b-team-item_link">
						<div class="b-team-img_wrapper">
							<img src="images/team-member-1.png" alt="team-member" class="b-team-img">
						</div>
						<div class="b-team-info">
							<div class="b-team-info_name">Cersei Lannister</div>
							<div class="b-team-info_position">Queen</div>
						</div>
					</a>
				</li>
				<li class="b-team-item">
					<a href="#" class="b-team-item_link">
						<div class="b-team-img_wrapper">
							<img src="images/team-member-1.png" alt="team-member" class="b-team-img">
						</div>
						<div class="b-team-info">
							<div class="b-team-info_name">Cersei Lannister</div>
							<div class="b-team-info_position">Queen</div>
						</div>
					</a>
				</li>
				<li class="b-team-item">
					<a href="#" class="b-team-item_link">
						<div class="b-team-img_wrapper">
							<img src="images/team-member-1.png" alt="team-member" class="b-team-img">
						</div>
						<div class="b-team-info">
							<div class="b-team-info_name">Cersei Lannister</div>
							<div class="b-team-info_position">Queen</div>
						</div>
					</a>
				</li>
				<li class="b-team-item">
					<a href="#" class="b-team-item_link">
						<div class="b-team-img_wrapper">
							<img src="images/team-member-1.png" alt="team-member" class="b-team-img">
						</div>
						<div class="b-team-info">
							<div class="b-team-info_name">Cersei Lannister</div>
							<div class="b-team-info_position">Queen</div>
						</div>
					</a>
				</li>
				<li class="b-team-item">
					<a href="#" class="b-team-item_link">
						<div class="b-team-img_wrapper">
							<img src="images/team-member-1.png" alt="team-member" class="b-team-img">
						</div>
						<div class="b-team-info">
							<div class="b-team-info_name">Cersei Lannister</div>
							<div class="b-team-info_position">Queen</div>
						</div>
					</a>
				</li>
			</ul>
		</div>
		<!-- end b-team_wrapper -->
	</div>
</div>
