<!-- begin b-works -->
<div class="b-works">
	<!-- begin heading + tab-nav -->
	<div class="container">

		<!-- begin g-heading -->
		<div class="g-heading">
			<h3 class="g-heading-title">recent works</h3>
			<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
			<div class="g-heading-divider"></div>
		</div>
		<!-- end g-heading -->

		<!-- begin b-works-tab -->
		<div class="b-works-tabs_nav">
			<ul class="b-works-tab_nav">
				<li class="b-works-tab_nav-link"></li>
				<li class="b-works-tab_nav-link"></li>
				<li class="b-works-tab_nav-link"></li>
				<li class="b-works-tab_nav-link"></li>
			</ul>
		</div>
		<!-- end b-works-tab -->

	</div>
	<!-- end heading + tab-nav -->

	<!-- begin b-works-tabs_wrapper -->
	<div class="b-works-tabs_wrapper">

		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->

		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->

		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->

		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->

		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->
	
		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->
	
		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->
	
		<!-- begin b-works-tab_item -->
		<div class="b-works-tab_item">
			<div class="b-works-tab_item-info">
				<div class="b-works-tab-divider"></div>
				<div class="b-works-tab-title">t-shirt design</div>
				<div class="b-works-tab-subtitle">art / t-shirt</div>
			</div>
		</div>
		<!-- end b-works-tab_item -->

	</div>
	<!-- end b-works-tabs_wrapper -->
</div>
<!-- end b-works -->