<div class="container">
	<!-- begin g-heading -->
	<div class="g-heading">
		<h3 class="g-heading-title">recent works</h3>
		<p class="g-heading-subtitle">It has survived not only five centuries, but also the leap scrambled it to make a type.</p>
		<div class="g-heading-divider"></div>
	</div>
	<!-- end g-heading -->

	<!-- begin b-works-tabs -->
	<div class="b-works-tabs">
		<!-- begin b-works-tab_item -->
		<div class="b-works-tabs_nav">
			<ul class="b-works-tab_nav">
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-1">all</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-2">print design</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-3">animation</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-4">art</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-5">web design</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-6">photography</label>
				</li>
				<li class="b-works-tab_nav-item">
					<label class="b-works-tab_nav-label" for="tab-7">photography</label>
				</li>
			</ul>
		</div>
		<!-- end b-works-tab_item -->

		<!-- begin b-works-tabs_wrapper -->
		<div class="b-works-tabs_container">
			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-1" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-1.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-2.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-5.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-2" type="radio" name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-5.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-2.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-1.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-3" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-1.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-4" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-2.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-5.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-5" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-2.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-5.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-6" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-1.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-2.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-5.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->

			<!-- begin b-works-tab_item -->
			<div class="b-works-tabs_item">
				<input id="tab-7" type="radio" checked name="tab-group-1" class="b-works-tabs_switcher"/>
				<div class="b-works-tabs_content">
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-3.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-1.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-4.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-6.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-7.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
					<div class="b-works-info">
						<img src="images/tab-8.png" alt="" class="b-works-info_img">
						<div class="b-works-info_inner">
							<div class="b-works-info_divider"></div>
							<div class="b-works-info_title">t-shirt design</div>
							<div class="b-works-info_subtitle">art / t-shirt</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end b-works-tab_item -->
		</div>
		<!-- end b-works-tabs_wrapper -->
	</div>
	<!-- end b-works-tabs -->
</div>
