.b-benefits {
	display: flex;
	justify-content: space-between;
	align-content: flex-start;

	@include respond-to(tablets phones) {
		flex-direction: column;
		align-items: center;
	}

	&-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		& + & {
			margin-left: 60px;

			@include respond-to(tablets phones) {
				margin: 60px 0 0;
			}
		}
	}

	&-icon_wrapper {
		padding: 25px;
		border: 1px solid $lightbrown;
		margin-bottom: 30px;
		cursor: pointer;
		transition: all .5s ease-in-out;
	}

	&-icon_wrapper:hover {
		transform: rotate(45deg);
		border-color: $red;
	}

	&-icon_wrapper:hover &-icon {
		transform: rotate(-45deg);
		color: $red;
	}

	&-icon_wrapper:hover + &-title {
		color: $red;

		&:before {
			width: 100%;
			background: $red;
		}
	}

	&-icon {
		font-size: 24px;
		transition: all .5s linear;
	}

	&-title {
		@include g-title_underlined;

		margin-bottom: 20px;
	}

	&-text {
		@include font(secondary, 12px, 20px);
		text-align: center;
	}
}
