.logo {
	@include font(main_bold, 35px);

	display: block;
	text-transform: uppercase;
	padding: 5px 15px 5px 0;
	border: 3px solid $light;

	&-part1 {
		padding: 5px 15px;
		background: $light;
		color: $grey;
	}

	&-part2 {
		color: $light; 
	}
}