.b-partners {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&-item {
		flex-basis: calc(20% - 15px);
		background-color: $white;
		text-align: center;
		margin-top: 30px;
		padding: 0 20px;
	}

	&-icon {
		width: 100%;
		min-width: 80px;
	}
} //TODO: set background color for l-partners
