.b-pricing {
	&-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin-top: 40px;

		@include respond-to(tablets) {
			flex-wrap: wrap;
			flex-direction: row;
		}

		@include respond-to(desktop) {
			flex-direction: row;
			margin-top: 60px;
		}
	}

	&-item {
		flex-basis: 100%;
		text-align: center;
		transition: box-shadow 0.3s ease-in-out;
		margin:  0 auto 30px;


		@include respond-to(tablets) {
			flex-basis: 50%;
			max-width: 350px;
		}

		@include respond-to(desktop) {
			flex-basis: 33.3333%
		}
	}

	&-item:hover {
		box-shadow: 0px 1px 10px 1px $lightgrey;
	}

	&-item_top {
		background-color: $lightgrey;
		padding: 50px 50px 125px;
		position: relative;
	}

	&-item.m-premium {
		@include respond-to(desktop) {
			margin: 0 15px;
		}
	}

	&-item.m-premium &-item_top {
		background-color: $red;
	}

	&-item.m-premium &-price_wrapper {
		color: $red;
	}

	&-title {
		@include font(main_semibold, 24px);

		text-transform: uppercase;
		color: $white;
	}

	&-price_wrapper {
		border-radius: 50%;
		background: $white;
		border: 10px solid rgba($lightgrey, .1);
		padding: 40px;
		color: $lightgrey;
		position: absolute;
		top: 100%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&-price {
		@include font(additional_bold, 40px);
	}

	&-price_subtitle {
		@include font(additional);
	}

	&-item_bottom {
		background-color: $light;
		padding: 125px 50px 50px;
	}

	&-info_item {
		@include font(main_semibold);

		color: $lightgrey;

		& + & {
			margin-top: 30px;
		}
	}

	&-cta {
		@include g-button(disabled);

		margin: 50px auto 0;
		display: block;
		width: 145px;
	}

	&-item.m-premium &-cta {
		@include g-button;

		margin: 50px auto 0;
		display: block;
		width: 145px;
	}
}
