.b-study {
	position: relative;
	display: flex;
	justify-content: flex-end;
	margin-top: 50px;

	&-slider_wrapper {
		position: absolute;
		left: 0;
		top: 50%;
		width: 100%;
		transform: translate(0, -50%);
		background-color: rgba($white, .4);
		box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .3);
		padding: 20px;


		@include respond-to(tablets desktop) {
			background-color: $white;
			width: 60%;
		}

		@include respond-to(desktop) {
			padding: 50px 50px 120px;
		}
	}

	&-slider_content {
		display: flex;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}

	&-icon_wrapper {
		background: $red;
		transform: rotate(45deg);
		width: 60px;
		height: 60px;
		line-height: 60px;
		margin: 30px 0;
	}

	&-icon {
		color: $white;
		transform: rotate(-45deg);
	}

	&-image {
		@include respond-to(phones) {
			min-height: 484px;
		}
	}

	&-image_wrapper {
		flex-basis: 50%;

		@include respond-to(phones) {
			flex-basis: 100%;
		}
	}

	&-title {
		@include g-title_underlined;

		margin-bottom: 25px;
	}

	&-text {
		@include font(secondary, 14px, 24px);

		color: $lightbrown;
		margin-bottom: 30px;

		@include respond-to(desktop) {
			margin-bottom: 40px;
		}
	}

	&-cta {
		@include g-button(type2);
	}

	//slider slick configs
	.slick-dots{
		bottom: -70px;

		li button:before {
			font-size: 54px;
		}
	}
} //TODO: set background color fot l-study
