.b-works { //TODO: fix for tablets/phones

	&-info {
		flex-basis: 50%;
		position: relative;
		transition: all .9 linear;

		@include respond-to(tablets) {
			flex-basis: 33.3333%;
		}

		@include respond-to(desktop) {
			flex-basis: 25%;
		}
	}

	&-info_inner {
		background-color: rgba($red, .6);
		height: 100%;
		justify-content: center;
		align-items: center;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		transition: all .3s linear;

		@include g-title_block_type2;

		@include respond-to(desktop) {
			padding: 0 0 50px 50px;
			opacity: 0;
			visibility: hidden;
			justify-content: flex-end;
			align-items: flex-start;
		}
	}

	&-info:hover &-info_inner {
		@include respond-to(desktop) {
			opacity: 1;
			visibility: visible;
		}
	}

	&-info:hover &-info_divider {
		@include g-divider_type2(link_hovered);
	}

	&-info_divider {
		@include  g-title_block_type2(divider);
	}

	&-info_title {
		@include  g-title_block_type2(title);
	}

	&-info_subtitle {
		@include  g-title_block_type2(subtitle);
	}

	&-info_img {
		height: 100%;
		width: 100%;
	}

	&-tab_nav {
		@include g-tabs;

		&-item {
			@include g-tabs(control_item);
		}

		&-label {
			@include g-tabs(control_label);
		}
	}

	&-tabs_container {
		@include g-tabs(container);
	}

	&-tabs_switcher {
		@include g-tabs(switcher);
	}

	&-tabs_content {
		@include g-tabs(content);
	}

}

//TODO: active tabs - title highlight
