$grey :   #4a4c55;
$lightgrey: #999999;
$brown: #888888;
$lightbrown: #6a6a6a;
$red :  #e74c3c;
$black : #000000;
$lightblack: #202020;
$light :    #f4f5f9;
$white : #ffffff;


$footer_color: #202020;

$fb_color: #3b5999;
$twitter_color: #55acee;
$instagram_color: #e4405f;
$skype_color: #00AFF0;
