@font-face{
	font-family: 'Lato-BoldItalic';
	src: url('../fonts/lato-bolditalic-webfont.woff2') format('woff2'),
		url('../fonts/lato-bolditalic-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Lato-Italic';
	src: url('../fonts/lato-italic-webfont.woff2') format('woff2'),
		url('../fonts/lato-italic-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Lato-Regular';
	src: url('../fonts/lato-regular-webfont.woff2') format('woff2'),
		url('../fonts/lato-regular-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Opensans-Light';
	src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
		url('../fonts/opensans-light-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Opensans-SemiBoldItalic';
	src: url('../fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
		url('../fonts/opensans-semibolditalic-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Opensans-Semibold';
	src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-semibold-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Opensans-Bold';
	src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
		url('../fonts/opensans-bold-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Opensans-Regular';
	src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
		url('../fonts/opensans-regular-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Sourcesans-Regular';
	src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
}

@font-face{
	font-family: 'Sourcesans-Bold';
	src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
		url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
}
