$break-points: (
	phones-portrait: "screen and (max-width: 399px)",
	phones: "screen and (max-width: 767px)",
	tablets: "screen and (min-width: 768px) and (max-width: 1199px)",
	desktop: "screen and (min-width: 1200px)",
	desktop-large: "screen and (min-width: 1440px)",
);

@mixin respond-to($media) {
	$__query: null;

	@each $type in $media {
		@if map-has-key($break-points, $type) {
			$__query: append($__query, unquote(map-get($break-points, $type)), comma);
		} @else {
			@warn $type;
		}
	}

	@media #{$__query} {
		@content;
	}

}
