//mixin for hover presents only on destop
@mixin on-hover {
	@include respond-to (desktop) {
		&:hover {
			@content;
		}
	}
}

//mixin for floated blocks
@mixin clearfix {
	&::after {
		clear: both;
		content: '';
		display: table;
	}
}

.h-clearfix {
	@include clearfix;
}
